
#wrapper{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 0.2fr;
  border: 1px solid rgb(190, 190, 190);
  background-color: gold;
  grid-auto-flow: row;
}

.addedMovies{
  width: 50%;
  border: 1px solid gray;
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 0.2fr;
  border: 1px solid rgb(190, 190, 190);
 margin: 0.1em; 


}

  form {
    float : left;
    display : table;
    padding : 1em;
    margin-right : 1em;
    background : radial-gradient(circle, rgb(238, 174, 202, 1) 0%, rgb(148, 187, 233, 1) 100%);
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2em;
    }

    form p {
    display : table-row;
    margin-left : 0.1em;
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    font-size : 1em;
    box-sizing : border-box;
    }
    .pole {
    display : table-cell;
    margin-bottom : 1em;
    background-color : rgb(224, 250, 252);
    border : rgb(14, 121, 244) solid 1px;
    border-radius : 0.4em;
    }
    .poledate {
    width : 97%;
    border-radius : 0.4em;
    margin-bottom : 0.8em;
    }
    p .label {
    display : table-cell;
    font-size : 1em;
    }
    button {
    display : block;
    float : right;
    background-color : hsl(191 27% 33%);
    border : rgb(14, 121, 244) solid 1px;
    color : white;
    transition-duration : 0.8s;
    cursor : pointer;
    }
    button:hover {
    background-color : rgb(138, 138, 138);
    color : blanchedalmond;
    }


h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 1.2em;
}
    .p-wrapper {
    font-size : 0.7em;
    text-align : justify;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right : 0.5em;
    }
    
    input[type="range"] {
        cursor : grab;
        padding : initial;
        border : initial;
        margin : 2px;
        }
    
    #recenzia {
    margin-bottom : 0;
    color : #00001E;
    }
    @media only screen and (max-width: 290px) {
    .logo {
    text-align : center;
    }
    form {
    display : block;
    width : 100%;
    }
    .pole {
    display : block;
    width : 85%;
    }
    form p {
    display : block;
    }
    .poledate {
    width : 97%;
    border-radius : 0.6em;
    text-align : center;
    width : 85%;
    }
    .label {
    display : block;
    }
    h1 {
    color : rgb(255, 255, 255);
    text-align : center;
    display : block;
    margin-top : 1em;
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .p-wrapper {
    text-align : center;
    margin-right : 0.5em;
    color : white;
    }

    button {
    width : 85%;
    float : left;
    }
    }




